<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ExtentReportOutputPath" value="C:\myprojects\appro\Main\Tests\ACTinium\ExtentReport\"/>
		<add key="ACTionURL" value="https://www.microsoft.com/en-us/"/>
		<add key="WaitTimeInSeconds" value="15"/>
		<add key="TestData" value="C:\myprojects\appro\Main\Tests\ACTinium\ExtentReport\TestData.xlsx"/>
	</appSettings>
</configuration>